<%= form_for(@arcane_school) do |f| %>
  <% if @arcane_school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arcane_school.errors.count, "error") %> prohibited this arcane_school from being saved:</h2>

      <ul>
      <% @arcane_school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
