<!DOCTYPE html>
<html>
	<head>
		<title>Scout</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
	
		<%= javascript_include_tag "application" %>

		<%= javascript_include_tag "jquery.ui.core.min" %>  
		<%= javascript_include_tag "jquery.ui.widget.min" %>  
		<%= javascript_include_tag "jquery.effects.core" %> 

		<%= csrf_meta_tags %>
	</head>
	
	<body>

	<%= yield %>

	</body>
</html>
